<header>
    <div class="height uk-flex uk-flex-top">
        <div>
        <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-push"><img src="/static/img/png/menu.png" alt=""><span>{% trans 'Menu' %}</span></button>
        </div>
    </div>
    <div class="height uk-flex uk-flex-middle">
        <div><a class="active" href="">Eng</a><a href="">Rus</a></div>
    </div>
    <div class="height uk-flex uk-flex-bottom uk-flex-center">
        <div>
        <div class="social">
            <div class="uk-margin-small"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
            <div class="uk-margin-small"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
        </div>
        <div class="uk-text-center copyright">
            <p><b>©</b><br> 2012-2018</p>
        </div>
        </div>
    </div>
</header>