{% load static %}

<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/common.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<script>
      $(window).load(function () {
      new Vivus('my-svg1', {duration: 300});
      new Vivus('my-svg2', {duration: 200});
      new Vivus('my-svg3', {duration: 200});
      new Vivus('my-svg4', {duration: 200});
      new Vivus('my-svg5', {duration: 200});
      new Vivus('my-svg6', {duration: 200});
      new Vivus('my-svg7', {duration: 200});
      new Vivus('my-svg8', {duration: 200});
      new Vivus('my-svg9', {duration: 200});
      new Vivus('my-svg10', {duration: 200});
      $('#home-logo').hide();
      setTimeout(function(){
      	$('#home-logo').fadeIn('slow');
      },5000);

      function initHoverNavElements(object_li,object_id,nav_element){
      	nav_element.reset();
      	nav_element.stop();
      	$(object_li).hover(function(){
      			nav_element.play(1)
      		},function(){
      			//- nav_element.stop()
      			//- nav_element.play(-1)
      	})
      	$(object_li).on('mouseleave', function () {
      		nav_element.stop()
      		nav_element.play(-1)
      	});
      }
      //- UIkit.offcanvas('#offcanvas-push').on('shown', function() {
      //- 	$.each($('.uk-nav-primary li'),function(i,obj){
      //- 			var object_id = $(obj).find('object').attr('id');
      //- 			var nav_element = new Vivus(object_id, {duration: 100});
      //- 			initHoverNavElements($(this),object_id,nav_element);
      //- 		});
      //- 	});
      //- })

      UIkit.util.on(document, 'shown', '#offcanvas-push', function() {
      	$.each($('.uk-nav-primary li'),function(i,obj){
      			var object_id = $(obj).find('object').attr('id');
      			var nav_element = new Vivus(object_id, {duration: 100});
      			initHoverNavElements($(this),object_id,nav_element);
      		});
      	});
      })


</script>

<script type="text/javascript">
  $('#subButon').on('click', function(event){
    event.preventDefault();
    var email = JSON.stringify($('.emailSubscribtion').val());
    $('.loader').html('<img src="http://www.villacarlotta.it/images/loading.gif" alt="">');
    $.ajax({
      type:'post',
      url: '{% url "subscribe" %}',
      dataType: 'json',
      data: email,
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
          }
      },
      complete: function(){
        $('.loader').html('');
      },
      success: function(successResponse){
        if(successResponse.error){
          $('#subscribeMessages').text(successResponse.error).attr('style','color:#c30;').delay(1800).fadeOut();
        } else {
          $('#subscribeMessages').text(successResponse.message).attr('style','color:green;').delay(1800).fadeOut();
        }
      },
      error: function(errorResponse){
        $('#subscribeMessages').text(errorResponse.error);
      }
    });
  });
</script>