{% load static %}

<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/common.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<script>
  $(window).load(function () {
    new Vivus('my-svg1', {duration: 300, delay: 100});
    new Vivus('my-svg2', {duration: 100});
    new Vivus('my-svg3', {duration: 100});
    new Vivus('my-svg4', {duration: 100});
    new Vivus('my-svg5', {duration: 100});
    new Vivus('my-svg6', {duration: 100});
    new Vivus('my-svg7', {duration: 100});
    new Vivus('my-svg8', {duration: 100});
    new Vivus('my-svg9', {duration: 100});
    new Vivus('my-svg10', {duration: 100});
  });
  
  function initHoverNavElements(object_li,object_id,nav_element){
      $(object_li).hover(function(){
              nav_element.play(1)
          },function(){
              nav_element.stop()
              nav_element.play(-1)
      })
  }
  
  $(document).ready(function(){
          $.each($('.uk-nav-primary li'),function(i,obj){
              var object_id = $(obj).find('object').attr('id');
              var nav_element = new Vivus(object_id, {duration: 100});
              initHoverNavElements($(this),object_id,nav_element);
          });
  })
</script>

<script type="text/javascript">
  $('#subButon').on('click', function(event){
    event.preventDefault();
    var email = JSON.stringify($('.emailSubscribtion').val());
    $('.loader').html('<img src="http://www.villacarlotta.it/images/loading.gif" alt="">');
    $.ajax({
      type:'post',
      url: '{% url "subscribe" %}',
      dataType: 'json',
      data: email,
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
          }
      },
      complete: function(){
        $('.loader').html('');
      },
      success: function(successResponse){
        if(successResponse.error){
          $('#subscribeMessages').text(successResponse.error).attr('style','color:#c30;').delay(1800).fadeOut();
        } else {
          $('#subscribeMessages').text(successResponse.message).attr('style','color:green;').delay(1800).fadeOut();
        }
      },
      error: function(errorResponse){
        $('#subscribeMessages').text(errorResponse.error);
      }
    });
  });
</script>