{% load static %}

<!DOCTYPE html>
<html lang="ru">
  {% include "includes/_head.html" %}
  <body>
    <div id="hola">
      <div id="preloader"><span></span><span></span></div>
    </div>
    <div class="page-wrap">
      <div class="home">
        {% include "includes/_sidebar.html" %}
          <section class="clients">
            <div class="uk-container breadcrumb">
              {% include "includes/_mini_nav.html" %}
            </div>
          </section>
          <section class="maps-block" uk-scrollspy="target: &gt; iframe; cls:uk-animation-slide-right-medium; delay: 100; repeat: true">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d11696.414767484352!2d74.5756082!3d42.870655500000005!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skg!4v1523537042699" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </section>
          {% include "includes/_footer.html" %}
        </div>
      </div>
    </div>

    {% include "_base_js.html" %}

  </body>
</html>